//Imports
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eater&display=swap');


//Color Palette
$color-1: #ff7100; // Dark Orange
$color-2: #fd9702; // Light Orange
$color-3: #e102ff; // Light Purple
$color-4: #ae03ff; // Darker Purple
$color-5: #1A1110; // Licorice

//Fonts
$primary-font: 'Oswald', sans-serif;
$secondary-font: 'Eater', cursive;


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font-size: 4vw;
	color: white; 
	background: linear-gradient(to bottom, $color-5 0%, black 100%);
	padding: 2em;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	font-family: $primary-font;
	}
h1, h2, h3 { 
	font: $secondary-font;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: $color-2;
	}
.intro h1 {
	font-size: 8vw;
	margin: 0%;
}
header {
	text-align: center;
}

/* specific divs */
header, .main, .sidebar, .preamble {
	border: 2px solid $color-4;
	padding: 1em;
	margin: 2em 0 2em 0;
}
.summary p {
	text-align: center;
}

a {
	color: $color-3;
	text-decoration: none;
	transition: font-size .5s;
}
a:hover {
	color: $color-4;
	font-size: 105%;
}

footer a {
	padding: 1rem;
	margin: auto;
	text-align: center;
}

//Pumpkin
.extra1 {
	position: relative;
	width: 11rem;
	height: 20rem;
	background: $color-1;
	border-radius: 5rem/10rem;
	border: $color-5 1px solid;
}
.extra1::before {
	position: absolute;
	content: "";
	width: 10rem;
	height: 19.5rem;
	background: $color-1;
	border-radius: 4rem/10rem;
	left: 75px;
	top: 0.5rem;
	border-top: $color-5 1px solid;
	border-bottom: $color-5 1px solid;
}
.extra1::after {
	position: absolute;
	content: "";
	width: 11rem;
	height: 20rem;
	background: $color-1;
	border-radius: 5rem/10rem;
	left: 140px;
	border-right: $color-5 1px solid;
}


@media only screen and (min-width:1024px)  {
	body {
		font-size: 2vw;
	}

	//Grid
	.page-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.intro {
		grid-row: 1/ span 2;
		grid-column: 1 / span 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto auto auto;
	}
	header {
		grid-column: 1 / span 5;
		padding: 50px;
	}

	.summary, .summary p {
		grid-column: 1 / span 4;
		text-align: center;
	}

	header, .summary {
		grid-column: 1 / span 4;
	}

	.preamble, .preamble p {
		grid-column: 1/ span 4;
		text-align: center;
	}

	.main {
		grid-column: 2 / 4;
	}

	.sidebar {
		border: none;
		font-size: 75%;
	}

	footer {
		grid-column: span;
	}
}



